.img-container {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 550px;
   height: auto;
   max-height: 200px;
   margin: 0px 20px 40px 20px;
}

.img-img {
   width: 1240px;
   min-width: inherit;
   max-height: inherit;
   object-fit: cover;
   border-radius: 20px;
}
