.collapsible {
   width: 1000px;
   height: auto;
   padding: 10px;
}

.content {
   padding: 15px;
   background-color: #eeeeee;
   border-radius: 10px;
}

.header {
   background-color: #ff6060;
   padding: 10px;
   cursor: pointer;
   border-radius: 10px 10px 10px 10px;
}

.header {
   display: flex;
   justify-content: space-between;
}

.header2 {
   display: flex;
   justify-content: space-between;
   background-color: #ff6060;
   padding: 10px;
   cursor: pointer;
   border-radius: 10px 10px 0 0;
}
