ul li,
html {
   list-style-type: none;
}

.gros-container {
   display: flex;
   justify-content: space-between;
   width: 94%;
   max-width: 1300px;
   min-width: 550px;
   margin-top: 20px;
}

.title-loc-tags {
   display: flex;
   flex-direction: column;
}

.host-rating-column {
   display: flex;
   flex-direction: column;
}

.host-img-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   margin-bottom: 10px;
   width: 150px;
}

.host-img-row img {
   width: 50px;
   border-radius: 50%;
}
