.body-container {
   min-width: 300px;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.body-container h1 {
   min-width: 20px;
}

.error-code {
   padding-top: 40px;
   padding-bottom: 10px;
   font-size: 200px;
   color: #ff6060;
   transition: ease-in all 0.2s;
}

.message-err {
   text-align: center;
   padding-bottom: 160px;
   font-size: 36px;
   color: #ff6060;
}

.link-to-home {
   text-decoration: none;
   font-size: 18px;
   color: #ff6060;
}

@media screen and (max-width: 460px) {
   .error-code {
      font-size: 150px;
   }
}
@media screen and (max-width: 400px) {
   .error-code {
      font-size: 120px;
   }
}
