.swipe-picture-container {
   display: flex;
   flex-direction: row;
   align-items: center;

   position: relative;

   max-width: 1000px;
   max-height: 415px;
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 20px;
   margin-bottom: 30px;

   flex: 1 0 100%;

   scrollbar-width: none;
   -ms-overflow-style: none;
}

.swipe-picture-container::-webkit-scrollbar {
   width: 0;
   height: 0;
}

.swipe-pictures {
   width: inherit;
   border-radius: 20px;
   display: flex;
   object-fit: cover;
}

.backward,
.forward {
   position: absolute;
   background-color: transparent;
   padding: 10px;
   cursor: pointer;
}

.backward img,
.forward img {
   filter: brightness(0);
}

.backward {
   left: 0;
}

.forward {
   right: 0;
}
